.header{
    width: 100%;
    height: 108rem;
    padding-top: 12rem;
    background-image: url(../img/bg__header.png);
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 15rem;
    @include mobile{
        padding-top: 7rem;
        height: 95rem;
        margin-bottom: 5rem;
    }
    .container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        
        @include mobile{
            flex-direction: column-reverse;
        }
    }

    &__content{
        display: flex;
        flex-direction: column;
        width: 50%;
        @include mobile{
            width: 100%;
            margin-top: 3rem;
        }
        &-title{
            font-size: $sizeTitle60;
            font-weight: 700;
            color: $white;
            span{
                font-weight: 500;
            }
            margin-bottom: 5.5rem;
            @include mobile{
                margin-bottom: 3rem;
                font-size: $sizeTitle36;
            }
        }
        &-desc{
            color: $white;
            font-size: $sizeDesc24;
            font-family: $fontOpenSans;
            font-weight: 300;
            margin-bottom: 10rem;
            @include mobile{
                font-size: $sizedesc18;
                margin-bottom: 5rem;
            }
        }
    }

    &__img{
        width: 50%;
        padding-top: 10rem;
        @include mobile{
            padding-top: 3rem;
            width: 100%;
        }
        &-item{
            width: 100%;
            object-fit: cover;
        }
    }
}