@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&family=Raleway:wght@300;400;500;600;700;800;900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,900;1,700&display=swap');

// font famyly
$fontOpenSans: "Open Sans", sans-serif;
$fontRaleway: "Raleway", sans-serif;
$fontMont: 'Montserrat', sans-serif;

// color
$primaryColor: #4a44f2;
$white: #ffffff;
$btnSliderColor: #08e5a1;
$bgFooter: #282f3a;
$borderNav: #a283ec;
$descColor: #6a727f;
$titleItemColor: #393e46;

// size
$sizeNumber80: 80px;
$sizeTitle60: 60px;
$sizeTitle36: 36px;
$sizeDesc24: 24px;
$sizeCard20: 20px;
$sizedesc18: 18px;

// Width
$mainWidth : 1920px;
$containerWidth : 1200px;
